@import url(//fonts.googleapis.com/css?family=Rubik+Mono+One);
@import url(//fonts.googleapis.com/css?family=Notable);
@import url(//fonts.googleapis.com/css?family=Lily+Script+One);
@import url(//fonts.googleapis.com/css?family=Ubuntu);
body  {
    background-image: url("../img/bg.png");
    background-color: #222222;
}
 .frontRubik {
    font-family: 'Rubik Mono One', sans-serif;
}
 .frontNotable {
    font-family: 'Notable', sans-serif;
}
 .frontLily {
    font-family: 'Lily Script One', cursive;
 }
 .frontUbuntu {
    font-family: 'Ubuntu', sans-serif;
 }
 .text-shado-black {
  text-shadow:2px 2px rgb(36, 36, 36);
}

 #card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform-orgin: center;
    transition: transform 1s;
  }
  #card div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    backface-visibility: hidden;
  }
  #card .front {
    background-color: #222222; 
    /* background-image: linear-gradient(to right, #000000 , #222222); */
    
  }
  #card .front-bg {
    background:url("../img/729q.png");
    /* height: 100%;  */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #card .back {
    background: #990000;
    transform: rotateY( 180deg );
  }
  #card:hover {
    transform: rotateY( 180deg );
  }

.headerBG {
    background:url("../img/bg-image-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.box-op-1 {
  background-color: #000000;
  opacity: 0.5;
}

#card-shadow:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-grad1 {
  background-color: whitesmoke; 
  background-image: linear-gradient(to right, #8bc34a , #ffeb3b); /* Standard syntax (must be last) */
}
.bg-back2{
  background:url("../img/729.png");
  background-repeat: no-repeat;
  background-size: contain;
}

    
